@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* ==========================
head
============================ */
.head-all-page {
  background: #FFE4DE;
}

.head-all-page .head-tittle {
  padding: 100px 0px;
}

.head-all-page .head-tittle p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #3971FF;
}

.head-all-page .head-tittle h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 63px;
  color: #212121;
  margin-bottom: 25px;
}

.g-Started {
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  padding: 14px;
  color: white;
}

.crm-nav {
  width: 150px;
  background-color: black;
  position: absolute;
  top: 0px;
  right: 0px;
}

/* ====================
Home page
======================= */
.home-body {
  z-index: 1;
}

.top-canva-fast {
  width: 500px;
  height: 590px;
  padding: 10px;
  position: absolute;
  background-image: url('./Image/home_top_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  right: 0;
}

.top-canva-two {
  width: 470px;
  height: 550px;
  padding: 10px;
  position: absolute;
  background-image: url('./Image/home_top_2.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  top: 0;
  right: 0;
}

.hero-section #know-more {
  width: 170px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-right: 29px;
}

.hero-section p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  display: flex;
  align-items: center;
  color: #7388A7;
  margin: 19px 0px;
}

.hero-section h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  /* or 135% */
  display: flex;
  align-items: center;
  color: #212121;
  margin-top: 11px;
}

.hero-section .tittle {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #3971FF;
}

.hero-section .row>* {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* ===================
feature-section
======================*/
.feature-content,
.choose-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-content .items,
.why-choose-us .items {
  width: 370px;
  padding: 22px 17px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
  margin: 20px;
}

.feature-content .items img,
.why-choose-us .items img {
  margin-top: 6px;
  margin-bottom: 6px;
}

.feature-content .items h3,
.why-choose-us .items h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-align: center;
  color: #212121;
  margin: 10px 0;
}

.feature-content .items p,
.why-choose-us .items p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #7388A7;
}

.why-choose-us .items h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
  text-align: center;
  color: #212121;
}

.why-choose-us .items p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #7388A7;
}


.why-choose-us .text span {
  display: block;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3971FF;
}

.why-choose-us .text h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  color: #212121;
}

.how-it-work p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3971FF;
}

.how-it-work h2 {
  margin-top: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;

  color: #212121;
}

.how-it-work .img {
  width: 847px;
  height: 478px;
  position: relative;
  z-index: 10;
  margin: 120px auto;
}

.how-it-work .img .play {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
  transform: rotate(-180deg);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  border-radius: 500px;
  transform: rotate(-180deg);
  position: absolute;
  top: 40%;
  left: 40%;
  right: 40%;
  bottom: 40%;
}

.how-it-work .img .play img {
  width: 50px;
  height: 50px;
}

.how-it-work .img .bg {
  width: 752.17px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.how-it-work .img .bg {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80px;
  right: 0;
  width: 700px;
  height: 100%;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 1000px;
  transform: rotate(-127.87deg);
}

.how-it-work .img img {
  width: 870px;
  height: 478px;
}

/* =====================
automation-platform
======================== */
.automation-platform .text .Categories {
  width: 170px;
  height: 47px;
  margin: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.automation-platform span {
  display: block;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3971FF;
}

.automation-platform p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7388A7;
}

/* ================
count
==================== */
.count .items {
  margin: 30px 5px;
}

.count .items h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 62px;
  margin-bottom: 12px;
  color: #170F49;
}

.count .items h1 span {
  margin-left: 0;
  padding-left: 0;
  color: #DB544B;
}

.count .items p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #514F6E;
}

/* =================
manage-your-customers
==================== */
.manage-your-customers {
  padding: 100px 0px;
  margin: 50px auto;
  background-color: #F5F8FF;
  ;
}

.manage-your-customers span {
  display: block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
  color: #3971FF;
}

.manage-your-customers h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  display: flex;
  align-items: flex-end;
  color: #212121;
  margin-bottom: 20px;
}

.manage-your-customers p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */


  color: #7388A7;
}

.asked-questions .tittle p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-bottom: 16px;
  color: #3971FF;
}

.asked-questions .tittle h2 {
  margin-bottom: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #212121;
}

/* ====================
home-contact
====================== */
.section-from {
  position: relative;
  /* overflow: hidden; */
}

.home-contact .form {
  max-width: 672px;
  height: 594px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  background: #ffff;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
  box-sizing: border-box;
}

.home-contact .form .from-content {
  width: 100%;
  max-width: 470px;
}

.section-from .from-bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  /* background: red; */
  z-index: -1;
}

.section-from .from-bg div {
  width: 804.96px;
  height: 300.8px;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 500px;
  transform: rotate(-115.3deg);
}

/* .section-from .from-bg {
  position: absolute;
  width: 804.96px;
  height: 300.8px;
  top: 0;
  left: 50%;
  right: 50%;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 500px;
  /* transform: rotate(-115.3deg); */
/* transform: rotate(-115.3deg) translate(-50%, -50%);
z-index: -1;
} */

*/ .home-contact .form .from-content {
  width: 470px;
}

.home-contact .form input {
  width: 100%;
  height: 59.02px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  margin: 13px auto;
  background: #FFFFFF;
  border: 1px solid rgba(115, 136, 167, 0.15);
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
  outline: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}

.home-contact .form textarea {
  width: 100%;
  height: 104px;
  display: block;
  padding-top: 23px;
  padding-left: 19px;
  left: 725px;
  top: 9717.02px;
  background: #FFFFFF;
  border: 1px solid rgba(115, 136, 167, 0.15);
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
  resize: none;
}

.home-contact .form input[type=submit] {
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 500px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
}



/* ================
about-us
====================== */
.about-fast-content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */

  text-align: justify;

  color: #474849;
}

.about-count h1 {
  margin-bottom: 12px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 62px;
  line-height: 62px;
  color: #170F49;
}

.about-count span {
  color: #DA534B;
}

.about-count p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 26px;
  color: #514F6E;
}

.about-why-choose span {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #3971FF;
}

.about-why-choose h3 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 62px;
  color: #212121;
}

.about-why-choose .text p {
  margin: 13px auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #474849;
}

.about-vistabooks h2 {
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}

.best-features h2 {
  margin-bottom: 26px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}

.about-How-does h2 {
  margin-bottom: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
}

.about-testimonials .tittle p {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3971FF;
}

.about-testimonials .tittle h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 62px;
  color: #212121;
  margin-bottom: 50px;
}

.about-testimonials .item,
.asked-questions .item {
  margin: 10px auto;
  background: #FFFFFF;
  padding: 19px 18px;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
}

.about-testimonials .item h4,
.asked-questions .item h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #212121;
}

.about-testimonials .item p,
.asked-questions .item p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #514F6E;
}

.about-testimonials .item button,
.asked-questions .item button {
  border: none;
  background-color: #ffff;
}

.about-testimonials .item button p,
.asked-questions .item button p {
  font-size: 30px;
  color: #C64564;
}

.about-testimonials .item .content,
.asked-questions .item .content {
  margin-top: 13px;
  text-align: left;
}

.about-hide {
  display: none;
}


/* login-section */
.login-section .content {
  padding: 50px;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
}

.login-section .content h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}

.login-section .content p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  text-align: center;

  color: #FFFFFF;
}

.login-section .content .form input {
  width: 100%;
  padding: 14px 25px;
  margin-bottom: 28px;
  border: none;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
  color: #000000;
  outline: none;
}

.login-section .content .form input[type=checkbox] {
  width: 40px;
}

.login-section .content .form input[type=submit] {
  background: #130E35;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  color: #E95F3A;
  border-radius: 34.4493px;
}

.login-section .content .form span {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  color: #FFFFFF;
}

.login-section .content .form p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.login-section .content .form #login-forgot {
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  color: #FFFFFF;
}

.login-section .content .form #login-create {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
  padding-left: 5px;
}

/* subscription-page */
.subscription-page {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.subscription-page .package {
  width: 100%;
}

.subscription-page .package .package-items {
  width: 300px;
  padding: 13px 0;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  border: 1px solid #E45B40;
  border-radius: 100px;
}

.subscription-page .package .package-items #monthly {
  padding: 6px 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  /* identical to box height */
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 100px;
  border: none;
}

.subscription-page .package .package-items #yearly {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-transform: uppercase;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subscription-page>div {
  width: calc(33% - 20px);
  margin: 10px;
}

.subscription-page ul {
  margin-bottom: 34px;
}

.subscription-page ul li {
  list-style: none;
  text-align: left;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin: 16px 0;
  color: #7388A7;
}

.subscription-page ul li img {
  margin-right: 15px;
}

.subscription-page .single-user {
  padding: 0px 30px;
  background: #FFFFFF;
  text-align: center;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
}

.subscription-page .single-user span {
  color: linear-gradient(180deg, #E95F3A 0%, #AF307B 100%);
  border-radius: 100px;
}

.subscription-page .single-user button {
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 19px 48px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.subscription-page .single-user sub {
  color: #ED6235;
}

.subscription-page .single-user h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#subscribe {
  width: 190px;
  height: 47px;
  display: flex;
  margin: 12px auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
}

#view {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding-bottom: 34px;
}

.subscription-page .team-pro {
  text-align: center;
}

.subscription-page .team-pro-info {
  padding: 0px 30px;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
}

.subscription-page .team-pro-info button {
  padding: 19px 50px;
  background: #FFFFFF;
  color: #B9386F;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 20px;
  border-radius: 0px 0px 16px 16px;
  border: none;
}

.subscription-page .team-pro-info h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
  color: #FFFFFF;
}

.subscription-page .team-pro-info ul li {
  color: #D9D9D9;
}

#team-pro-Subscribe {
  width: 190px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 12px auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  background: #FFFFFF;
  border-radius: 5px;
}

#team-pro-view {
  display: block;
  padding-bottom: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.subscription-page .enterprice {
  padding: 0px 30px;
  text-align: center;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
}

.subscription-page .enterprice button {
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  margin-bottom: 39px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 19px 48px;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}

.subscription-page .enterprice h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* =======================
common-page
========================== */

.common-page {
  padding: 100px 0px;
}

.common-page ul li {
  list-style: none;
}

.common-page ul li img {
  display: inline-block;
  margin: 10px;
}

.common-page p {
  margin: 25px 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.common-page .Title {
  margin: 25px 0px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}

/* =====================
news
======================= */
.news .news-items {
  padding: 25px 0px;
  margin: 5px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
}

.news .news-items .body {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.news .news-items .news-img img {
  width: 100%;
}

.news .news-items button {
  width: 65px;
  height: 25px;
  margin-top: 25px;
  border: 1px solid #3B67FF;
  background: #FFFFFF;
  border-radius: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #3B67FF;
}

.news .news-items .news-text h2 {
  margin: 14px auto;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
}

.news .news-items .news-text p {
  margin-bottom: 14px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 170%;
  /* or 26px */
  color: #474849;
}

.news .news-items .news-text a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  color: #527FFB;
}

.news .news-items .news-footer {
  border-top: 1px solid rgba(217, 217, 217, 0.5);
  padding: 20px;
  display: flex;
  align-items: center;
}

.news .news-items .news-footer img {
  width: 29.08px;
  height: 29px;
  border-radius: 50%;
  margin-right: 15px;
}

.news .news-items .news-footer h3 {
  margin-bottom: 2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #212121;
}

.news .news-items .news-footer p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

.news .news-items .news-footer p span {
  color: #3B67FF;
}

/* ======================
news-details
======================= */
.news-details img {
  width: 100%;
}

.news-details p {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #474849;
}

#prev {
  width: 127px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
}

.new-d-button {
  width: 65px;
  height: 25px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  text-transform: uppercase;
  background-color: white;
  margin: 25px auto;
  color: #3B67FF;
  border: 1px solid #3B67FF;
  border-radius: 8px;
}

/* ==================
news-details-user 
======================= */
.news-details-user {
  display: flex;
  align-items: center;
}

.news-details-user img {
  width: 29.08px;
  height: 29px;
  border-radius: 50%;
  margin-right: 15px;
}

.news-details-user p span {
  color: #3B67FF;
}

.news-details-user h3 {
  margin-bottom: 2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  color: #212121;
}

.news-details-user p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

/* ==========================
contactus-form
=========================== */
.contactus-form {
  padding: 40px 30px;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
  text-align: center;
}

.contactus-form h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  color: #FFFFFF;
}

.contactus-form p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  /* or 28px */
  text-align: center;
  color: #FFFFFF;
}

.contactus-form input,
textarea {
  width: 100%;
  height: 59.02px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
  padding-left: 19px;
  background: #FFFFFF;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
  border: none;
  margin: 12px auto;
}

.contactus-form textarea {
  height: 100px;
  padding-top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
}

.contactus-form input[type=submit] {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  color: #E95F3A;
  background: #130E35;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34.4493px;
}

.contactus-info span {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
  border-radius: 5px;
  margin-right: 13px;
}

.contactus-info h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #130E35;
}

.contactus-info h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 145%;
  /* identical to box height, or 35px */
  color: #130E35;
}

/* ===========================
payment
============================= */
.payment {
  width: 100%;
  padding-bottom: 50px;
  background: #FFFFFF;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 5px;
}

.payment table {
  width: 90%;
  margin: 50px auto;
}

.payment table thead th {
  padding: 15px;
}

.payment table tbody td {
  padding: 15px;
  border-bottom: 1px solid rgba(217, 217, 217, 0.5);
  ;
}

.payment table tbody td img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 5px;
}

.payment table tbody td h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #130E35;
}

.payment table tbody td p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  color: #130E35;
}

.payment table .Quantity {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

.payment table .Quantity button {
  border: none;
  background-color: #FFFFFF;
}

.payment table .Quantity button img {
  width: 20px;
}

.payment table .Quantity h4 {
  margin: 0px 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 145%;
  color: #130E35;
}

.payment table .Quantity .cancel h3 {
  font-size: 28px;
}

.payment-link {
  text-align: center;
  margin: 30px auto;
}

.payment-link a {
  text-align: center;
  margin: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  /* identical to box height */
  background: #F5F5F5;
  padding: 5px 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  color: rgba(0, 0, 0, 0.5);
}

/* ===========================
payment-page-two
============================== */
.payment-page-two .info {
  background: #FFF1EC;
  text-align: center;
  padding: 100px 0;
}

.payment-page-two h3 {
  margin-bottom: 23px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  color: #130E35;
}

.payment-page-two .form {
  background: #FFFFFF;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 5px;
  padding: 50px 30px;
}

.payment-page-two .form h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 161% */
  color: #000000;
}

.payment-page-two .form input {
  width: 100%;
  height: 59px;
  padding-left: 20px;
  margin: 10px auto;
  background: #FFFFFF;
  border: 1px solid rgba(20, 15, 54, 0.25);
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 21px;
  color: #000000;
}

.payment-page-two .form .select-group input {
  width: auto;
}

.payment-page-two .select-group .select-items {
  height: 48px;
  display: flex;
  align-items: center;
  border: 2px solid #ED6235;
  border-radius: 100px;
  padding: 0px 22px;
}

.payment-page-two .select-group .select-items img {
  width: 100%;
}

.payment-page-two .form input[type=submit] {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  color: #E95F3A;
  background: #130E35;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34px;
}

/* ==========================
payment-three
============================== */
.payment-three {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 40px;
  background: #FFFFFF;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 5px;
}

.payment-three h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  /* identical to box height */
  color: #130E35;
  margin-top: 10px;
  margin-bottom: 23px;
}

.payment-three p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.payment-three a {
  width: 470px;
  padding: 19px 0;
  display: block;

  justify-content: center;
  align-items: center;
  text-align: center;
  background: #130E35;
  box-shadow: 0px 26.7864px 117.19px rgba(32, 36, 138, 0.06);
  border-radius: 34px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #E95F3A;
  margin-top: 30px;
}

/* ===========================
footer 
=============================*/

footer {
  display: flex;
  align-items: center;
  background: #0E1A36;
  position: relative;
  border-radius: 5px;
  color: #FFFFFF;
  z-index: -10;
  overflow: hidden;
}

.fo-content {
  margin: 0;
  position: absolute;
  left: 0;
  background-image: url("./Image/bg.png");
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  /* padding: 245px; */
  padding: 270px;
  height: 100%;
}

footer .footer-vista {
  z-index: 1;
  padding: 144px 50px;
  margin-right: 60px;
}

footer .footer-vista p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #514F6E;
}

footer .footer-vista .link {
  margin-top: 40px;
}

footer .footer-vista .link ul {
  display: flex;
}

footer .footer-vista .link ul li a {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0E1A36;
  border-radius: 5px;
  margin: 8px;
}

footer .footer-vista .link ul li .active {
  background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
}

footer .footer-vista .link ul li a:hover {
  background-color: orange;
}

footer>div {
  margin: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  margin-top: 15px;
  color: #FFFFFF;
}

.copy-right {
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F4F7FE;
}

.copy-right p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #212122;
}

/* responsive */

@media (min-width:2014px) {
  .top-canva-fast {
    width: 650px;
    height: 700px;
    padding: 10px;
    position: absolute;
    background-image: url('./Image/home_top_1.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    right: 0;
  }

  .top-canva-two {
    width: 600px;
    height: 650px;
    padding: 10px;
    position: absolute;
    background-image: url('./Image/home_top_2.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    top: 0;
    right: 0;
  }
}

@media (max-width:992px) {
  .hero-section .hero-text h1 {
    font-size: 24px;
    line-height: 1.7;
  }

  .top-canva-fast {
    display: none;
  }

  .top-canva-two {
    display: none;
  }
}

@media (min-width:1600px) {
  .choose-flex {
    width: 80%;
    margin: auto;
  }
}

@media (min-width:2200px) {
  .choose-flex {
    width: 51%;
    margin: auto;
  }
}

@media (min-width:4000px) {
  .choose-flex {
    width: 35%;
    margin: auto;
  }
}

@media (min-width:1200px) {
  .subscription-page>div {
    width: 370px;
    margin: 10px;
  }

  .asked-questions .tittle h2 {
    margin-bottom: 40px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: #212121;
  }
}

@media (min-width:990px) {
  .small {
    display: none;
  }
}

@media (max-width:990px) {
  .nav-items {
    display: none;
  }
}

@media (max-width:880px) {
  .news .news-items {
    padding: 25px 0px;
    margin: 20px auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.09);
    border-radius: 8px;
  }
}

@media (max-width:669px) {

  /* login-section */
  .login-section .content {
    padding: 20px;
    background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
    border-radius: 5px;
  }

  .subscription-page>div {
    width: 100%;
    margin: 20px 10px;
  }

  .payment-three h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 54px;
    /* identical to box height */
    color: #130E35;
    margin-top: 10px;
    margin-bottom: 23px;
  }

  .payment-three a {
    width: 100%;
    display: block;
  }

}


/* ==================================================== */
/*Header*/
.header {
  width: 100%;
  height: 100px;
  z-index: 100;
}

.header a,
.header link {
  text-decoration: none;
}

.header .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header-logo h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #35b0e1;
  font-size: 1.5rem;
}

.header .header-logo h1:hover {
  color: #5ec8f1;
}

.header .header-logo img {
  width: 200px;
}

.header .header-menu .header-navbar ul {
  list-style: none;
}

.header .header-menu .header-navbar ul>li {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .header-menu .header-navbar ul>li a,
.header .header-menu .header-navbar ul>li link {
  color: #000;
  text-transform: capitalize;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.header .header-menu .header-navbar ul .active a,
.header .header-menu .header-navbar ul link {
  color: #35b0e1;
}

.header .header-menu .header-navbar ul .login:hover a,
.header .header-menu .header-navbar ul .login:hover link {
  background-color: #35b0e1;
  color: #fff !important;
}

.header .header-menu .header-navbar ul .login a,
.header .header-menu .header-navbar ul .login link {
  width: 90px;
  height: 35px;
  color: #35b0e1;
  border: 1px solid #35b0e1;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* ====================== */
/* 992px */
@media only screen and (min-width: 1150px) {

  /*Header*/
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header ul>li:hover>a,
  .header ul>li:hover>link {
    color: #35b0e1 !important;
  }

  .header .nav-mini-button {
    display: none;
  }

  .header .header-menu .main-menu>li {
    height: 100px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-left: 40px;
  }

  .header .header-menu .main-menu>li:first-child {
    margin-left: 0px;
  }

  .header .header-menu .sub-nav:hover .sub-menu {
    display: block !important;
  }

  .header .header-menu .sub-nav .sub-menu {
    display: none;
    position: absolute;
    top: 100px;
  }

  .header .header-menu .sub-nav .sub-menu li a,
  .header .header-menu .sub-nav .sub-menu li link {
    font-weight: 500;
    color: #080e17;
    font-size: 16px;
    line-height: 19px;
    padding-left: 16px;
  }

  .header .header-menu .sub-nav .sub-sub-menu {
    display: none;
    position: absolute;
    left: 237px;
    z-index: 100;
  }

  .header .header-menu .sub-nav .sub-sub-menu li a,
  .header .header-menu .sub-nav .sub-sub-menu li link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 16px;
    color: #000;
  }

  .header .header-menu .sub-nav .sub-sub-menu li:hover link,
  .header .header-menu .sub-nav .sub-sub-menu li:hover a {
    color: #35b0e1 !important;
  }

  .header .header-menu .sub-nav .sub-menu,
  .header .header-menu .sub-nav .sub-sub-menu {
    background: #fff;
    width: 238px;
    background: #ffffff;
    border: 1px solid rgba(221, 221, 221, 0.2);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  .header .header-menu .sub-nav .sub-menu li,
  .header .header-menu .sub-nav .sub-sub-menu li {
    height: 52px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(90deg, #ED6235 0%, #9D228E 96.35%);
    border-radius: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 100;
    overflow: hidden;
  }

  .header .header-menu .sub-nav .sub-menu li:last-child,
  .header .header-menu .sub-nav .sub-sub-menu li:last-child {
    border-bottom: 0px;
  }

  .header .header-menu .sub-nav .sub-menu li:hover,
  .header .header-menu .sub-nav .sub-sub-menu li:hover {
    background: #f4f2ff;
  }

  .header .header-menu .sub-nav .double-sub-one {
    top: -1px;
  }

  .header .header-menu .sub-nav .double-sub-two {
    top: 51px;
  }

  .header .header-menu .sub-nav .double-sub-three {
    top: 103px;
  }

  .header .header-menu .sub-nav .double-sub-four {
    top: 155px;
  }

  .header .header-menu .sub-nav .double-sub-five {
    top: 207px;
  }

  .header .header-menu .sub-nav .double-sub-six {
    top: 259px;
  }

  .header .header-menu .sub-menu>li:hover .sub-sub-menu {
    display: block !important;
  }
}

/* ========================= */
@media only screen and (max-width: 1151px) {

  /*Header Section*/
  .header {
    height: 80px !important;
  }

  .header .header-logo img {
    width: 200px;
  }

  .header .nav-mini-button i {
    font-size: 30px;
  }

  .header .header-menu .header-navbar {
    padding: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    position: absolute;
    right: 0;
    top: 80px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 0 10px;
  }

  .header .header-menu .header-navbar ul li a,
  .header .header-menu .header-navbar ul li link {
    color: #fff;
    padding: 10px 10px;
  }

  .header .header-menu .header-navbar .main-menu {
    display: block;
  }

  .header .header-menu .header-navbar .main-menu li>a:hover,
  .header .header-menu .header-navbar .main-menu li>link:hover {
    color: #35b0e1;
  }

  .header .header-menu .header-navbar .main-menu .login:hover a,
  .header .header-menu .header-navbar .main-menu .login:hover link {
    background-color: #35b0e1;
    color: #fff;
  }

  .header .header-menu .header-navbar .login {
    margin-top: 10px;
  }

  .header .header-menu .header-navbar .main-menu .sub-nav .sub-menu {
    padding-left: 25px;
  }

  .header .header-menu .header-navbar .main-menu .sub-nav .sub-sub-menu {
    padding-left: 30px;
  }

  .header .header-menu .header-navbar-hide {
    display: none;
    width: 0px;
  }

  .header .header-menu .header-navbar-show {
    display: block;
    width: 300px;
  }

  .header .header-menu .sub-nav-hide {
    display: none;
  }

  .header .header-menu .sub-nav-show {
    display: block;
  }

  .header .header-menu .nav-sub-icon {
    font-size: 16px;
    font-weight: 500;
    padding-left: 5px;
  }
}


/* footer */
@media (max-width:1070px) {

  footer {
    display: grid;
    grid-template-columns: auto auto;
    background: #0E1A36;
    position: relative;
    color: #FFFFFF;
    z-index: -10;
    padding: 60px 0px;
  }

  footer>div {
    margin-left: 70px;
    margin-top: 40px;
  }

  .fo-content {
    display: none;
  }

  .footer-bg {
    display: none;
  }

  footer .footer-vista {
    z-index: 1;
    padding: 0px;
    color: white;
  }

  footer .footer-vista p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }


  footer ul li {
    list-style: none;
  }

  footer ul li a {
    font-style: normal;
    display: block;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.02em;
    margin-top: 15px;
    color: #FFFFFF;
  }
}

@media (max-width:769px) {

  footer {
    display: grid;
    grid-template-columns: auto;
    background: #0E1A36;
    position: relative;
    color: #FFFFFF;
    z-index: -10;
    padding: 50px 0px;
  }

  footer>div {
    margin-left: 40px;
    margin-top: 40px;
  }

  .fo-content {
    display: none;
  }

  .footer-bg {
    display: none;
  }

  footer .footer-vista {
    z-index: 1;
    padding: 0px;
    color: white;
  }

  footer .footer-vista p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: white;
  }
}